<div class="wrap">
    <app-header></app-header>
    <div class="topmargin">
        <div class="conta_iner">
            <div class="story-top">
                <div class="sbm">
                    <div class="cursive-bar">
                        <h1>Our Story</h1>
                    </div>
                    <div class="story-banner">
                        <figure style="position: relative;">
                            <div class="overlay-bck"></div>
                            <img src="assets/images/home/banner/4.jpg">
                        </figure>
                    </div>
                </div>
                <div class="begin">
                    <div class="begin-left">
                        <div class="cursive-bar">
                            <h2>The beginnings</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a
                                page when looking at its layout. The point of using Lorem Ipsum is that it has a
                                more-or-less normal distribution of letters, as opposed to using 'Content here, content
                                here', making it look like readable English. Many desktop publishing packages and web
                                page
                                editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                                will
                                uncover many web sites still in their infancy. Various versions have evolved over the
                                years,
                                sometimes by accident, sometimes on purpose (injected humour and the like). ent here',
                                making it look like readable English. Many desktop publishing packages and web page
                                editors
                                now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                                uncover
                                many web sites still in their infancy. </p>
                        </div>
                    </div>
                    <div class="begin-right">
                        <figure style="position: relative;">
                            <div class="overlay-bck"></div>
                            <img src="assets/images/home/banner/2.png">
                        </figure>
                    </div>
                </div>
            </div>
            <!-- boss lady start -->
            <div class="boss-lady">
                <div class="bl-left hover15">
                    <figure style="position: relative;">
                        <div class="overlay-bck"></div>
                        <img src="assets/images/home/banner/6.jpg">
                    </figure>
                </div>
                <div class="bl-right">
                    <div class="cursive-bar">
                        <h2>Boss lady behind the scene</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page
                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                            normal
                            distribution of letters, as opposed to using 'Content here, content here', making it look
                            like
                            readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
                            as
                            their default model text, and a search for 'lorem ipsum' will uncover many web sites still
                            in
                            their infancy. Various versions have evolved over the years, sometimes by accident,
                            sometimes on
                            purpose (injected humour and the like). ent here', making it look like readable English.
                            Many
                            desktop publishing packages and web page editors now use Lorem Ipsum as their default model
                            text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                        </p>
                    </div>
                </div>
            </div>
            <!-- boss lady end -->
            <!-- book lover -->
            <div class="boss-lady reversec">

                <div class="bl-left hover15">
                    <figure class="book" style="position: relative;">
                        <div class="overlay-bck"></div>
                        <img src="assets/images/story/book.png">
                    </figure>
                </div>
                <div class="bl-right">
                    <div class="cursive-bar">
                        <h2>Our Love for the books</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page
                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                            normal
                            distribution of letters, as opposed to using 'Content here, content here', making it look
                            like
                            readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
                            as
                            their default model text, and a search for 'lorem ipsum' will uncover many web sites still
                            in
                            their infancy. Various versions have evolved over the years, sometimes by accident,
                            sometimes on
                            purpose (injected humour and the like). ent here', making it look like readable English.
                            Many
                            desktop publishing packages and web page editors now use Lorem Ipsum as their default model
                            text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                        </p>
                    </div>
                </div>
            </div>
            <!-- book lover -->
            <!-- boss lady start -->
            <div class="boss-lady">
                <div class="bl-left hover15">
                    <figure>
                        <img src="assets/images/story/prize.png">
                    </figure>
                </div>
                <div class="bl-right">
                    <div class="cursive-bar">
                        <h2>All about appreciations</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page
                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                            normal
                            distribution of letters, as opposed to using 'Content here, content here', making it look
                            like
                            readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
                            as
                            their default model text, and a search for 'lorem ipsum' will uncover many web sites still
                            in
                            their infancy. Various versions have evolved over the years, sometimes by accident,
                            sometimes on
                            purpose (injected humour and the like). ent here', making it look like readable English.
                            Many
                            desktop publishing packages and web page editors now use Lorem Ipsum as their default model
                            text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                        </p>
                    </div>
                </div>
            </div>
            <!-- boss lady end -->
            <!-- book lover -->
            <a href="https://www.raisincode.com" target="_blank">
                <div class="boss-lady reversec">
                    <div class="bl-left hover15">
                        <figure>
                            <img src="assets/images/story/raisincode.png" class="contain">
                        </figure>
                    </div>
                    <div class="bl-right">
                        <div class="cursive-bar">
                            <h2>Digitalising the Restaurant</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a
                                page
                                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                                normal
                                distribution of letters, as opposed to using 'Content here, content here', making it look
                                like
                                readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
                                as
                                their default model text, and a search for 'lorem ipsum' will uncover many web sites still
                                in
                                their infancy. Various versions have evolved over the years, sometimes by accident,
                                sometimes on
                                purpose (injected humour and the like). ent here', making it look like readable English.
                                Many
                                desktop publishing packages and web page editors now use Lorem Ipsum as their default model
                                text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- book lover -->
            <!-- meet crew start -->
            <!-- <div class="story-top pt-0 bspce">
            <div class="sbm">
                <div class="cursive-bar">
                    <h1>Meet the Crew</h1>
                </div>
                <div class="story-banner">
                    <figure>
                        <img
                            src="assets/images/story/crew.png">
                    </figure>
                </div>
            </div>
        </div> -->
            <!-- meet crew end -->
        </div>
        <app-footer></app-footer>
    </div>
</div>