<div class="wrap">
    <app-header></app-header>
    <div class="spec-page topmargin">
        <div class="conta_iner">
            <div class="special-rec">
                <div class="cursive-bar">
                    <h1>Our Specials</h1>
                </div>
                <div class="spe-reslist">
                    <ul>
                        <li>
                            <div class="spm">
                                <div class="spl">
                                    <h3>Butter Chicken</h3>
                                    <h5>₹ 450.00</h5>
                                    <p>Succulent pieces of chicken tikka cooked in the Tandoor, then finished in a
                                        creamy
                                        tomato and butter sauce. Everyone’s favourite.</p>
                                </div>
                                <!-- <div class="ih-item circle colored effect18 left_to_right"><a>
                                        <div class="img">
                                            <img src="assets/images/special/dish1.png">
                                        </div>
                                        <div class="info">
                                            <div class="info-back">
                                                <figure class="feedback">
                                                    <img
                                                        src="https://images.news18.com/ibnlive/uploads/2019/08/Honey-Singh.jpg">
                                                </figure>
                                                <h3>Honey Singh</h3>
                                                <p>Last Visit</p>
                                            </div>
                                        </div>
                                    </a>
                                </div> -->
                                <div class="ih-item circle colored effect18 left_to_right"><a>
                                        <div class="img">
                                            <img src="assets/images/special/daal.png">
                                        </div>
                                        <div class="info">
                                            <div class="info-back">
                                                <img src="assets/images/home/banner/7.jpg">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="spm">
                                <div class="spl">
                                    <h3>Daal Palak</h3>
                                    <h5>₹ 450.00</h5>
                                    <p>Succulent pieces of chicken tikka cooked in the Tandoor, then finished in a
                                        creamy
                                        tomato and butter sauce. Everyone’s favourite.</p>
                                </div>
                                <div class="ih-item circle colored effect18 left_to_right"><a>
                                        <div class="img">
                                            <img src="assets/images/special/daal.png">
                                        </div>
                                        <div class="info">
                                            <div class="info-back">
                                                <img src="assets/images/home/banner/7.jpg">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="spm">
                                <div class="spl">
                                    <h3>Tandoori Times</h3>
                                    <h5>₹ 450.00</h5>
                                    <p>Succulent pieces of chicken tikka cooked in the Tandoor, then finished in a
                                        creamy
                                        tomato and butter sauce. Everyone’s favourite.</p>
                                </div>
                                <div class="ih-item circle colored effect18 left_to_right"><a>
                                        <div class="img">
                                            <img src="assets/images/special/dish6.png">
                                        </div>
                                        <div class="info">
                                            <div class="info-back">
                                                <img src="assets/images/home/banner/7.jpg">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="spm">
                                <div class="spl">
                                    <h3>Vegetable Sizzzlers</h3>
                                    <h5>₹ 450.00</h5>
                                    <p>Succulent pieces of chicken tikka cooked in the Tandoor, then finished in a
                                        creamy
                                        tomato and butter sauce. Everyone’s favourite.</p>
                                </div>
                                <div class="ih-item circle colored effect18 left_to_right"><a>
                                        <div class="img">
                                            <img src="assets/images/special/dish6.png">
                                        </div>
                                        <div class="info">
                                            <div class="info-back">
                                                <img src="assets/images/home/banner/7.jpg">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="spm">
                                <div class="spl">
                                    <h3>Goat Masala Curry</h3>
                                    <h5>₹ 450.00</h5>
                                    <p>Succulent pieces of chicken tikka cooked in the Tandoor, then finished in a
                                        creamy
                                        tomato and butter sauce. Everyone’s favourite.</p>
                                </div>
                                <div class="ih-item circle colored effect18 left_to_right"><a>
                                        <div class="img">
                                            <img src="assets/images/special/dish5.png">
                                        </div>
                                        <div class="info">
                                            <div class="info-back">
                                                <img src="assets/images/home/banner/7.jpg">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="spm">
                                <div class="spl">
                                    <h3>Paneer Saagwaal</h3>
                                    <h5>₹ 450.00</h5>
                                    <p>Succulent pieces of chicken tikka cooked in the Tandoor, then finished in a
                                        creamy
                                        tomato and butter sauce. Everyone’s favourite.</p>
                                </div>
                                <div class="ih-item circle colored effect18 left_to_right"><a>
                                        <div class="img">
                                            <img src="assets/images/special/dish6.png">
                                        </div>
                                        <div class="info">
                                            <div class="info-back">
                                                <img src="assets/images/home/banner/7.jpg">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>