@import'../../../assets/css/variable.scss';
.collapse:not(.show) {
  display: block;


}
.active-link {
  color: $theme-clr !important;
  font-weight: 500 !important;
  &::after {
    content: '';
    position: absolute;
    width: 37px;
    background: $theme-clr;
    height: 4px;
    bottom: -7px;
    left: 0;
  }
}

header {
    background: $bg-clr;
    padding: 16px 0 39px;
    // position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    @media(max-width:992px){
      padding: 15px 0;
      position: fixed;
      z-index: 100;
      width: 100%;
    }
    .navbar {
      padding: 0;
      width: 100%;
      .navbar-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width:992px){
          justify-content: space-between;
          flex-direction: row-reverse;
        }
        .navbar-brand {
          padding-top: 0;
          padding-bottom: 0;
          margin-right: 0;
          font-size: initial;
          figure {
            width: 120px;
            margin: auto;
            height: 120px;
            @media(max-width:992px){
              width: 50px;
              height: 50px;
            }
          }
        }
        button.navbar-toggle {
          display: none;
          background: #fff;
          border: none;
          width: 30px;
          height: 30px;
          border-radius: 5px;
          color: $theme-clr;
          @media(max-width:992px){
            display: block;
          }
        }
      }
      .navbar-collapse {
        ul {
          flex-direction: row;
          justify-content: space-between;
          width: 66%;
          margin: auto;
          padding-top: 25px;
          @media(max-width:992px){
            width: 100%;
            margin: auto;
            padding-top: 25px;
            flex-direction: column;
            justify-content: flex-end;
          }
          li {
            @media(max-width:992px){
              text-align: center;
              border-bottom: 1px solid #dddddd6b;
              padding-bottom: 8px;
              margin-bottom: 10px;
              &:last-child{
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
              }
            }
            a {
              color: #fff;
              cursor: pointer;
              font-family: Brandon_reg;
              font-size: 19px;
              font-weight: 500;
              opacity: 0.7;
              position: relative;
              &:hover{
                &::after{
                  content: '';
                  position: absolute;
                  width: 37px;
                  background: $theme-clr;
                  height: 4px;
                  bottom: -7px;
                  left: 0;
                }
                @media(max-width:767px){
                  &::after{
                    content: unset;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media(max-width:992px){
    .collapse:not(.show) {
      display: none;
  }
}
