<header class="header">
    <div class="conta_iner">
        <nav class="navbar navbar-inverse">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <a class="navbar-brand">
                    <figure routerLink="/home" style="cursor: pointer;">
                        <img src="assets/icons/logo.svg" alt="Logo">
                    </figure>
                </a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li><a class="a-link" routerLink="/home" routerLinkActive="active-link">Home</a></li>
                  <li><a class="a-link" routerLink="/event" routerLinkActive="active-link">Events</a></li>
                  <li><a class="a-link" routerLink="/gallery" routerLinkActive="active-link">Gallery</a></li>
                  <li><a class="a-link" routerLink="/story" routerLinkActive="active-link">Our Story</a></li>
                  <li><a class="a-link" routerLink="/blog" routerLinkActive="active-link">Blog</a></li>
                  <li><a class="a-link" routerLink="/special" routerLinkActive="active-link">Our Specials</a></li>
                  <li><a class="a-link" routerLink="/books" routerLinkActive="active-link">Books</a></li>
                </ul>

              </div>
          </nav>

    </div>
    </header>
