<div class="wrap">
    <app-header></app-header>
    <!-- blog start -->
    <div class="topmargin">
        <div class="bbanner">
            <div class="conta_iner">
                <div class="bbbox">
                    <h6>23 July, 2021</h6>
                    <h3>This Kale, Quinoa, and Roasted Veggie Salad Tastes Like Fall in a Bowl</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when
                        looking at its layout.</p>
                    <button>Read More ></button>
                </div>
            </div>
        </div>
        <!-- blog end -->
        <!-- blog slider start -->
        <section class="bs">
            <div class="conta_iner">
                <div class="bslide">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem *ngFor="let slide of slides" class="slide">

                            <div class="bsmain ">
                                <figure> <img src="{{ slide.img }}" alt="" width="100%"></figure>
                                <div class="bsdata">
                                    <h5>{{slide.subhead}}</h5>
                                    <h3>{{slide.head}}</h3>
                                    <p>{{slide.para}}</p>
                                    <button>Read More ></button>
                                </div>


                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </section>
        <!-- blog slider end -->
        <!-- write to start -->
        <section class="wm">
            <div class="conta_iner">
                <div class="cursive-bar">
                    <h1>She writes too… </h1>
                    <p>Collection of poetries from the leading lady herself.</p>
                </div>
                <div class="wmain">
                    <div class="wleft hover01">
                        <figure>
                            <img src="assets/images/blog/enjoy.jpg">
                        </figure>
                    </div>
                    <div class="wright">
                        <h3>My Heart Leaps Up</h3>
                        <pre>
As imperceptibly as Grief
The Summer lapsed away—
Too imperceptible at last
To seem like Perfidy—

A Quietness distilled
As Twilight long begun,
Or Nature spending with herself
Sequestered Afternoon—

The Dusk drew earlier in—
The Morning foreign shone—
A courteous, yet harrowing Grace,
As Guest, that would be gone
                    </pre>
                        <h6>- Neeru Khattar</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- write to end -->
        <!-- essential start -->
        <section class="essential">
            <div class="conta_iner">
                <div class="cursive-bar">
                    <h1>From Rhythm’s Pen</h1>
                    <p>Blogs from the essential member of Cup and Kitaab.</p>
                </div>
                <div class="em">
                    <div class="elft">
                        <div class="emfig hover14">
                            <figure>
                                <img src="assets/images/blog/girl.png">
                            </figure>
                        </div>
                        <div class="emdata">
                            <h4>23 July, 2021</h4>
                            <h3>This Kale, Quinoa, and Roasted Veggie Salad Tastes Like Fall in a Bowl</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a
                                page when looking at its layout. It is a long established fact that a reader will be
                                distracted by the readable content of a page when looking at its layout.It is a long
                                established fact that a reader will be distracted by the readable content of a page when
                                looking at its layout.It is a long established fact that a reader will be distracted by
                                the
                                readable content of a page when looking at its layout.</p>
                        </div>
                    </div>
                    <div class="eright">
                        <ul>
                            <li>
                                <div class="blogmain">
                                    <div class="blogleft hover14">
                                        <figure>
                                            <img src="/assets/images/blog/food.png">
                                        </figure>
                                    </div>
                                    <div class="blogright">
                                        <h4>23 July, 2021</h4>
                                        <h3>This Kale, Quinoa, and Roasted Veggie Salad Tastes Like Fall in a Bowl</h3>
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable
                                            content of a
                                            page when looking at its layout. It is a long established fact that a reader
                                            will be
                                            distracted by the readable content of a page when looking at its layout.It
                                            is a
                                            long
                                            established fact that a reader will be distracted by the readable content of
                                            a
                                            page when
                                            looking at its layout.It is a long established fact that a reader will be
                                            distracted by the
                                            readable content of a page when looking at its layout.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="blogmain">
                                    <div class="blogleft hover14">
                                        <figure>
                                            <img src="/assets/images/blog/food.png">
                                        </figure>
                                    </div>
                                    <div class="blogright">
                                        <h4>23 July, 2021</h4>
                                        <h3>This Kale, Quinoa, and Roasted Veggie Salad Tastes Like Fall in a Bowl</h3>
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable
                                            content of a
                                            page when looking at its layout. It is a long established fact that a reader
                                            will be
                                            distracted by the readable content of a page when looking at its layout.It
                                            is a
                                            long
                                            established fact that a reader will be distracted by the readable content of
                                            a
                                            page when
                                            looking at its layout.It is a long established fact that a reader will be
                                            distracted by the
                                            readable content of a page when looking at its layout.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="blogmain">
                                    <div class="blogleft hover14">
                                        <figure>
                                            <img src="/assets/images/blog/food.png">
                                        </figure>
                                    </div>
                                    <div class="blogright">
                                        <h4>23 July, 2021</h4>
                                        <h3>This Kale, Quinoa, and Roasted Veggie Salad Tastes Like Fall in a Bowl</h3>
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable
                                            content of a
                                            page when looking at its layout. It is a long established fact that a reader
                                            will be
                                            distracted by the readable content of a page when looking at its layout.It
                                            is a
                                            long
                                            established fact that a reader will be distracted by the readable content of
                                            a
                                            page when
                                            looking at its layout.It is a long established fact that a reader will be
                                            distracted by the
                                            readable content of a page when looking at its layout.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="blogmain">
                                    <div class="blogleft hover14">
                                        <figure>
                                            <img src="/assets/images/blog/food.png">
                                        </figure>
                                    </div>
                                    <div class="blogright">
                                        <h4>23 July, 2021</h4>
                                        <h3>This Kale, Quinoa, and Roasted Veggie Salad Tastes Like Fall in a Bowl</h3>
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable
                                            content of a
                                            page when looking at its layout. It is a long established fact that a reader
                                            will be
                                            distracted by the readable content of a page when looking at its layout.It
                                            is a
                                            long
                                            established fact that a reader will be distracted by the readable content of
                                            a
                                            page when
                                            looking at its layout.It is a long established fact that a reader will be
                                            distracted by the
                                            readable content of a page when looking at its layout.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- essential end -->
    </div>
    <app-footer></app-footer>
</div>