@import'../../../assets/css/variable.scss';
.bbanner{
background: url(../../../assets/images/blog/banner.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 110px 0;
background-position: center center;
@media(max-width:1024px){
    padding: 60px 0;
}
@media(max-width:767px){
  padding: 20px 10px;
  background-size: cover;
}


.bbbox{
    height: 374px;
    width: 370px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.73);
    font-family: Brandon_reg;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(max-width:767px){
      height: auto;
      padding: 20px;
      width: 100%;
    }

  h6{
    opacity: 0.6;
    color: #FFFFFF;
    font-size: 17px;
    text-transform: uppercase;
  }
  h3{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    padding: 18px 0 18px;
    line-height: 32px;
  }
  p{
    opacity: 0.77;
    color: #FFFFFF;
    font-size: 17px;
    padding-bottom: 30px;
  }
  button{
    height: 46px;
    font-size: 16px;
    width: 164px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    opacity: 0.6;
    border-radius: 4px;
    &:hover{
        background: #fff;
        opacity: 1;
        color: $bg-clr  ;

    }
  }
}
}
section.wm {
    padding: 120px 0 90px;
    @media(max-width:1024px){
        padding: 60px 0;
    }
    @media(max-width:767px){
      padding: 50px 0;
    }
     .wmain {
        display: flex;
        align-items: flex-start;
       
        @media(max-width:767px){
        
    flex-direction: column;
        }
        .wleft {

            width: 47%;
            margin-right: 50px;
            @media(max-width:767px){
              width: 100%;
              margin-right: 30px;
            }
            figure{

            height: 520px;
            overflow: hidden;
            border-radius: 4px 0 0 4px;
            background-color: #D8D8D8;
            width:100%;
            @media(max-width:1024px){
                height: 460px;
            }
            @media(max-width:767px){
              height: auto;
          }
            img{
                height: 100%;
                object-fit: cover;
            }
            }
        }
        .wright{
          @media(max-width:767px){
            width: 100%;
          }
            h3{
                font-family: Brandon_reg;
                font-size: 32px;
                font-weight: bold;
                color: #000000;
                padding-bottom: 30px;
                @media(max-width:1024px){
                    font-size: 28px;
                }
                @media(max-width:767px){
                  font-size: 26px;
                  padding-bottom: 20px;
                }
            }
            pre{
                font-family: Brandon_reg;
                font-size: 18px;
                font-weight: 600;
                color: #000000;
            }
            h6{
                text-align: right;
                font-size: 16px;
                font-family: rethaster;
            }
        }
    }
}
.cursive-bar{
    p{
        color: rgba(0,0,0,0.39);
        font-family: Brandon_reg;
        font-size: 24px;
        padding: 7px 0 30px;
        @media(max-width:1024px){
            font-size: 22px;
        }
        @media(max-width:767px){
          font-size: 20px;
          padding: 7px 0 20px;
    line-height: normal;
        }
    }
}
section.essential{
    padding-bottom: 80px;
    .em {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
     
        background-color: #d8d8d82b;
        padding: 70px 40px;
        @media(max-width:1024px){
            padding: 50px 20px;
        }
        @media(max-width:767px){
          padding: 10px;
          flex-direction: column;
        }
        .elft {
            width: 59%;
            @media(max-width:767px){
              width: 100%;
            }
            .emfig{
                figure{
                    height: 292px;
                    width: 100%;
                    border-radius: 4px;
                    background-color: #D8D8D8;
                    overflow: hidden;
                    @media(max-width:1024px){
                        height: 230px;
                    }
                    img{
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .emdata{
                padding-top: 25px;
                font-family: Brandon_reg;
                color: #000000;
                @media(max-width:767px){
                  padding-top: 20px;
                }
                h4{
                    opacity: 0.6;
                   font-size: 15px;
                    line-height: 22px;
                    text-transform: uppercase;
                }
                h3{
                    padding: 20px 0 10px;
                    font-size: 21px;
                    font-weight: 600;
                    @media(max-width:767px){
                      padding: 17px 0 10px;
                      font-size: 20px;
                      font-weight: 600;
                      line-height: 29px;
                    }
                }
                p{
                    opacity: 0.77;
                    font-size: 17px;
                }
            }
        }
        .eright {
            width: 38%;
            font-family: Brandon_reg;
            @media(max-width:767px){
              width: 100%;
              font-family: Brandon_reg;
              margin-top: 20px;
            }
            ul{
                li{
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    .blogmain {
                        display: flex;
                        gap: 20px;
                        @media(max-width:1024px){
                            gap: 15px;
                        }
                        .blogleft{
                            width: 20%;
                            @media(max-width:768px){
                              width: auto;
                            }
                            figure{
                                height: 90px;
                                width: 90px;
                                border-radius: 4px 4px 0 0;
                                background-color: #D8D8D8;
                                overflow: hidden;
                                @media(max-width:1024px){
                                    height: 60px;
                                    width: 60px;
                                }
                                img{
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                        .blogright{
                            width: 80%;
                            h4{
                                opacity: 0.6;
                                font-size: 14px;
                               text-transform: uppercase;
                            }
                            h3{
                                padding: 5px 0 7px;
                                font-size: 16px;
                                font-weight: 600;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width: 50%;
                            }
                            p{
                                opacity: 0.77;
                                font-size: 16px;
                                height: 50px;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}


section.bs {
    padding-top: 110px;
    @media(max-width:1024px){
      padding-top: 80px;
    }
    .slide {
        height: 600px;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 9px 22px 0 rgb(0 0 0 / 7%);
        width: 100%;
        overflow: hidden;
        transition: ease-out 0.3s;
        @media(max-width:767px){
            height: auto;
        }
        .bsmain{
            figure{
                height: 255px;
                overflow: hidden;
                @media(max-width:1024px){
                    height: 215px;
                }
                img{
                    height:100%;
                    object-fit: cover;
                }
            }
            .bsdata {
                padding: 30px 20px;
                color: #000;
                font-family: Brandon_reg;
                height: 320px;
                @media(max-width:1024px){
                    padding: 25px 20px;
                }
                h5{
                    opacity: 0.6;
                    font-size: 15px;
                    text-transform: uppercase;
                }
                h3{
                    padding: 17px 0;
                    color: #000;
                    line-height: 30px;
                    font-size: 20px;
                    font-weight: 600;
                    height: 120px;
                    overflow: hidden;
                    @media(max-width:1024px){
                        padding: 12px 0;
                    }
                }
                p{
                    opacity: 0.77;
                    font-size: 17px;
                    height: 80px;
                    overflow: hidden;
                    margin-bottom: 14px;
                }
                button{
                    height: 46px;
                    font-size: 16px;
                    width: 164px;
                    border: 2px solid $theme-clr;
                    background: transparent;
                    color: $theme-clr;
                    opacity: 0.6;
                    border-radius: 4px;
                    display: none;
                    &:hover{
                        background: $theme-clr;
                        color: #fff;
                    }
                }
            }
        }
        &:hover{
            transform: scale(1.1);
    transition: ease-in 0.3s;
    @media(max-width:767px){
        transform: scale(1.0);
    }
    .bsmain{
        .bsdata {
        button{
            display: block;
        }
    }
    }
        }
    }
}
