<div id="scroll" >
    <span>^</span>
</div>
<footer>
    <div class="conta_iner">
        <div class="footer-main">
            <div class="footer-left">
                <figure routerLink="/home" style="cursor: pointer;">
                    <img src="assets/icons/logo.svg" alt="Logo">
                </figure>
            </div>
            <div class="footer-right">
                <div class="fr1">
                    <h5>QUICK LINKS</h5>
                    <ul>
                        <!-- <li>Events</li>
                        <li>Gallery</li>
                        <li>Our Story</li>
                        <li>Our Specials</li> -->

                        <li><a class="a-link" routerLink="/gallery" routerLinkActive="active-link">Gallery</a></li>
                        <li><a class="a-link" routerLink="/event" routerLinkActive="active-link">Events</a></li>
                        <li><a class="a-link" routerLink="/story" routerLinkActive="active-link">Our Story</a></li>
                        <li><a class="a-link" routerLink="/special" routerLinkActive="active-link">Our Specials</a></li>
                    </ul>
                </div>
                <div class="fr2">
                    <h5>CONTACT US</h5>
                    <ul>
                        <li>
                            <div class="adm">
                                <div class="adl">
                                    <figure>
                                        <img src="assets/icons/telephone.svg">
                                    </figure>
                                </div>
                                <div class="adr">
                                    <h5>+91 81960 84094</h5>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="adm">
                                <div class="adl">
                                    <figure>
                                        <img src="assets/icons/envelope.svg">
                                    </figure>
                                </div>
                                <div class="adr">
                                    <h5>info@cupandkitaab.in</h5>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="adm">
                                <div class="adl">
                                    <figure>
                                        <img src="assets/icons/instagram1.svg">
                                    </figure>
                                </div>
                                <div class="adr">
                                    <a href="https://www.instagram.com/cupandkitaab/?hl=en" target="_blank">
                                        <h5>cupandkitaab</h5>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="https://www.raisincode.com" target="_blank">
    <div class="pre-footer">
        <div class="pdb">Powered by
          <figure><img src="assets/icons/raisincode_logo.svg"></figure>
        </div>
    </div>
</a>
